<div style="display: flex; place-content: center;">
  <h1 style="font-family: 'Dancing Script', cursive; font-size: 50px; margin-bottom: 0px;">
    ToD<span class="material-icons" style="color: #ec488c; font-size: 50px;">task_alt</span>List
  </h1>
</div>

<div >
  <mat-card class="card">
    <form style="display: flex; flex-direction: row;" (ngSubmit)="onFormSubmit(form)" #form="ngForm">
      <mat-form-field appearance="outline" style="width: 90%;">
        <mat-label>Digite sua tarefa aqui...</mat-label>
        <input matInput ngModel required minlength="2" id="text" (keypress)="pressEnter()" type="text" placeholder="Digite sua tarefa aqui..." name="text">
      </mat-form-field>

      <button mat-raised-button id="botaoAdd" type="submit" style="width: auto;" class="alt-gradient-button" >ADICIONAR</button>
    </form> 

    <app-todo-item
      *ngFor="let todo of elementosSelecionados" style="display: flex; margin: 20px;"
      [todo]="todo"
      (editClicked)="editTodo(todo)"
      (deleteClicked)="deleteTodo(todo)"
    ></app-todo-item>

    <mat-card-actions style="display: flex;">
      <button mat-button (click)="allTodos()">Todas</button>
      <button mat-button (click)="pendingTodos()">Pendentes</button>
      <button mat-button (click)="completeTodos()">Completas</button>
      <button mat-button (click)="deleteAllTodos()">Limpar todas</button>
    </mat-card-actions> 
  </mat-card>
</div>

